@charset "UTF-8";

@import 'vendor/normalize';

$color-cyan: #63C3D1;
$color-darkblue: #16232E;

#butn {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background: $color-cyan;
    border: solid white 1px;
}

main a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: normal;
    text-align: center;
    color:black;
}

#container {
    background-color: $color-darkblue;
}

h1 {
    color: white;
}