@charset "UTF-8";

@import 'vendor/normalize';
@import url('https://fonts.googleapis.com/css?family=Hind+Madurai:600');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
$color-cyan: #63C3D1;
$color-darkblue: #16232E;

 body {
    background: $color-darkblue;
}

hr {
    border: solid white 1px;
}

#butn {
    border-radius: 50%;
    height: 130px;
    width: 130px;
    // background: $color-cyan;
    border: solid white 3px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;;
    // color: $color-darkblue;
}

h1 {
    font-family: 'Montserrat', sans-serif;;
    color: white;
}

h5 {
    color: white;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 20px;
}

#main {
    background: $color-darkblue;
    text-align: center;
}

#contain {
width: 128px;
height: 126px;
left: 14px;
top: 18px;

}

#midden Button {
display:flex;
margin:0 auto;
color:white;
}

#midden Button:hover {
    background-color:white;
    color:black;
    font-weight:bold;
    box-sizing: border-box;
    
}

#profielfoto {
    width:340px;
    height: 340px;
    border:3px solid white;
    margin:0 auto;
    border-radius: 50%;


}

#profieltje {
 text-align:left;
 margin-top:40px;

}

#profHeader {
    text-align:center;
}

th {
    text-align: center;
}
